on:
  push:
    branches:
      - main
    paths:
      - '**'

jobs:
  build:
    permissions:
      id-token: write
      contents: read
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Check Out The Repository
        uses: actions/checkout@v3

      - name: Deploy to xquare
        uses: team-xquare/xquare-deployment-action@master
        with:
          environment: prod
          access_key: ${{ secrets.USER_ACCESS_KEY }}
          github_token: ${{ secrets.GHP_TOKEN }}
          base_url: .
          config_file_path: ./.xquare/config.yaml
          yarn_docker_build: false
          yarn_workspace: .
          buildargs: |
            VITE_SERVER_BASE_URL=${{ secrets.VITE_SERVER_BASE_URL }}
            VITE_SERVER_SOCKET_URL=${{ secrets.VITE_SERVER_SOCKET_URL }}
            CHANNEL_TALK_PLUGIN_KEY=${{ secrets.CHANNEL_TALK_PLUGIN_KEY }}
            VITE_SERVER_GRAFANA_URL=${{ secrets.VITE_SERVER_GRAFANA_URL }}
